@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply max-w-sm p-4;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #5e5e5e;
  background: antiquewhite;
}

h1 {
  @apply text-xl mb-4 text-black;
}
